*{
    border: 1px solid black
}
header{
    text-align: center;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-around;
}
.filter-bar{
    width: 100%;
    height: 5vw;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    
    
}
.container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 30%;
    margin: 0.5vw;
    align-items:flex-start;
    justify-content:flex-start;
}


h2{
    margin: 0.25vw;
    text-align: center;
    align-self: center;
}

img{
    box-sizing: border-box;
    align-self: center;
    max-width: 95%;
    max-height: 95%;
    width: auto;
    max-height: auto;
    margin: 0.25vw;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    margin: 0.25vw;
    padding: 0vw;
}

footer, footer div{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content:space-evenly;   
}
footer p {
    margin: 0;
}